@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@media screen and (max-width:576px){
    #content__main ul li{
        line-height: 23px;
        list-style: none;
        margin-left: 10px;
        font-size: 15px;
    }
    .footer__content{
        display: block;
        width: 100%;
        padding: 40px 0;
        text-align: center;
        line-height: 23px;
    }
    .footer__right{
        margin-top: 15px;
    }
    .footer__right ul li:last-child{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .footer__Copyright{
        display: none;
    }
    .header__desktop{
        display: none;
    }
    #content__main .CountCheck{
        font-size: 20px;
    }
    .P_mobile{
        display: none;
    }
    #content__main .load img{
        width: 50%;
        height: 30%;
    }
}
@media screen and (min-width: 577px) {
    .copyright{
        display: none;
    }
    #content__main .CountCheck{
        font-size: 30px;
    }
}
@media screen and (min-width: 768px) {
    .footer__right h3{
        margin-top: 10px; 
    }
    
}
@media screen and (max-width:768px) {
    .content__four-ways{
        display: none;
    }
}
@media screen and (max-width:1023px) {
    .header__desktop{
        display: none;
    }
    .sale__coupon{
        display: none;
    }
    .content .content__find{
        box-shadow: none;
    }
    .content__big--content{
        box-shadow: none;
    }
}
@media screen and (min-width:1023px) {
    .copyright{
        display: none;
    }
    .footer__left h3, .footer__right h3{
        font-size: 20px;
    }
    .footer__right ul li a, .footer__left ul li a{
        font-size: 16px;
        color: #91a0bd;
        line-height: 45px; 
        transition: color 0.15s ease-in-out 0s, background-color 0.15s ease-in-out 0s, border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    }
    .footer__menu{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 50%;
    }
    .footer__right h3{
        margin-top: -3px; 
    }
    .header{
        display: none;
    }
    .content__logo{
        display: none;
    }
    body{
        background-color: #f2f3f6;
    }
    .content .content__find{
        background-color: white;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin: 40px 0;
        height: 100px;
        border-radius: 5px;
        width: 90%;
    }
    .content .content__find button{
        display: flex;
        align-items: center;
        border-radius: 5px;
        width: 30%;
        height: 50px;
        border: none;
    }
    .content .content__find button:first-child{
        font-size: 13px;
    }
    .hr_first{
        display: none;
    }
    #content__main form .message{
        display: flex;
        height: 50px;
        width: 70%;
        font-size: 20px;
        align-items: center;
        justify-content: center;
    }
    .content__big--content{
        background: white;
        width: 90%;
        margin-bottom: 40px;
    }
    #content__main .CountCheck{
        font-size: 25px;
    }
    .sale__coupon{
        width: 50%;
    }
    .four_ways a{
        font-size: 15px;
        text-align: center;
        height: 60px;
    }
    /* width */
    ::-webkit-scrollbar {
        width: 10px;
    }
    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #007bff;
    }
  
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: rgb(58, 89, 170);
    }
    #content__main h3:first-child{
        text-align: center;
        padding: 20px 0;
        font-size: 30px;
    }
    #content__main ul li{
        line-height: 32px;
        font-size: 18px;
    }
    .P_desktop{
        display: none;
    }
}   
@media screen and (min-width: 1200px){
    .footer__right ul li a, .footer__left ul li a{
        font-size: 20px;
        transition: color 0.15s ease-in-out 0s, background-color 0.15s ease-in-out 0s, border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    }
    .four_ways a{
        font-size: 20px;
    }
    
}

